.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
} */

/* .container-fluid {
  overflow: hidden; 
  background-size: cover;
  background-position: center;
  height: 100vh; 
} */

.form-box {
  border: 2px solid #0e0500;
  padding: 2px;
  width: 50%;
  margin: 30px;
  margin-left: 23%;
  height: 60%;
  position: relative;
} 

.form-box input,
.form-box textarea {
  display: inline;
  width: 30%;
  padding: 9px;
  margin: 10px;
  border: 1px solid rgb(120, 120, 216);
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}

.form-box label {
  display: inline;
  text-align: center;
  font-size: 17px;
  /* margin: 0 0 2vh 0; */
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #b6c7d5;
}

.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading{
  color: rgb(204, 18, 18);
  font-size: 26px;
}

.underline{
  height: 4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light{
  background-color: #f2f2f2;

}

.w-100{
  height: 250px;
}
.d-block{
  height: 400px;
  width: fit-content;
}

p{
  font-size: 14px;
  color: #262626;
}

.footer a{
  color: #fff;
  text-decoration: none !important;
}
.footer a:hover{
  color: gray;
}

.text-align{
  text-align: left;
}

.bg-info{
  background-color:rgb(209 223 225) !important;
}